$red-to-blue: linear-gradient(to right, $red , $blue);
$blue-to-red: linear-gradient(to right, $blue , $red);
$yellow-to-green: linear-gradient(to right, $yellow , $green);
$green-to-yellow: linear-gradient(to right, $green , $yellow);
